* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --heading-font: 'Raleway', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --primary-background: hsl(240, 75%, 98%);
    --secondary-backgrouund: hsl(0, 0%, 75%);
    --dark-blue: hsl(243, 87%, 12%);
    --email-background: hsl(238, 22%, 44%);
    --btn-blue: hsl(224, 93%, 58%);
    --link-color: hsl(170, 45%, 43%);
}

body {
    max-width: 1440px;
    background: var(--primary-background);
}



