* {
    box-sizing: border-box;
}

:root {
    --heading-font: 'Raleway', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --primary-background: hsl(240, 75%, 98%);
    --secondary-backgrouund: hsl(0, 0%, 75%);
    --dark-blue: hsl(243, 87%, 12%);
    --email-background: hsl(238, 22%, 44%);
    --btn-blue: hsl(224, 93%, 58%);
    --link-color: hsl(170, 45%, 43%);
    --base-font-size: 1.2em;
}

body {
    background: #ffffff;
    font-family: var(--body-font);
    color: var(--dark-blue);
    font-size: var(--base-font-size);
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 1440px;
    max-width: 100%;
    padding: 30px 0px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

/* direct children of .flex */
.flex > div {
    flex: 1;
}

.flex > div:first-child {
    padding-right: 30px;
}

/* Navigation */ 
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 80px;
}

nav ul  {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-left: 55px;
}

nav ul a {
    text-decoration: none;
    color: var(--dark-blue);
}

h1, h2, h4 {
    /* letter-spacing: 1px; */
    font-family: var(--heading-font);
    font-weight: 700;
}
h2 {
    font-size: 2.2em;
}
/* Form  */
form {
    display: flex;
}

input {
    font-family: var(--body-font);
    font-size: 16px;
    color: var(--secondary-backgrouund);
    flex: 0.6;
    border: 1px solid var(--dark-blue);
    border-radius: 3px;
    padding: 15px;
}

button {
    font-family: var(--body-font);
    font-size: 14px;
    flex: 0.3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--btn-blue);
    border-radius: 3px;
    background: var(--btn-blue);
    color: #ffffff;
    padding: 15px;
    margin-left: 20px;
}

.flex .main-left {
    flex: 0.6;
}

.flex .main-right {
    flex: 0.4;
}

.flex > .main-left > p {
    width: 80%;
} 

.main-section {
    background: var(--primary-background);
    margin: 160px 0px 0px -0px;
    position: relative;
}

.main-section::before {
    content: '';
    background-image: url('./images/bg-curve-desktop1.png');
    background-size: cover;
    position: absolute;
    top: -80px;
    left: 0;
    height: 80px;
    width: 100%;
}

.green-link {
    color: #3DA08F;
}

/* Testimonials */
.testimonial {
    width: 53%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background: #ffffff;
    padding: 25px;
    margin-top: 45px;
    margin-bottom: 100px;
}

.testimonial p {
    letter-spacing: 1px;
    line-height: 1.7;
    font-size: 14px;
}

.info {
    display: flex;
    margin-top: 20px 0px 20px 0px;
    align-items: center;
}

.info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.info h4{
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
}
small {
    letter-spacing: 0.5px;
    font-size: 10px;
}

.sign-up-section {
    background: var(--email-background);
    color: #ffffff;
    padding: 50px 0px;
}

.sign-up-section form {
    flex-direction: column;
}

.sign-up-section form input {
    flex: 1;
    border: 1px solid var(--dark-blue);
    border-radius: 3px;
    margin-bottom: 16px;
    color: var(--secondary-backgrouund);
}

.sign-up-section form button {
    width: 50%;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--btn-blue);
    border-radius: 3px;
}